#mainbox {
    background-color: white;
    width: 420px;
    height: 800px;
    margin: 0 auto;
    border: 0.5px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
}
#navbar {
    text-align: left;
    border-radius: 30px;
    padding: 10px;
    border: 0.5px solid rgb(233, 233, 233);
    background-color: white;
    width: 300px;
    padding-left: 50px;
    margin: 15px 25px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
}
#filter {
    border-radius: 50%;
    padding: 10px;
    border: 0.3px solid rgb(0, 0, 0);
    background-color: white;
}
#navbar:hover {
    background-color: rgb(245, 245, 245);
}
#filter:hover {
    background-color: rgb(245, 245, 245);
}
#options {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

#optionsNames {
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    padding-bottom: 30px;
}
#firstimg {
    margin: 20px;
    height: 380px;
    width: 90%;
    border-radius: 30px;
}
  
